<div class="box-form px-5">
    <form class="formData ">
        <legend>Tu informacion</legend>
        <p class="mb-4">Completa la siguiente informacion para compleatar tu perfil</p>
        <div class="mb-3">
          <input type="text" class="form-control" id="nombre" autocomplete="off" placeholder="Nombre*">
        </div>
        <div class="mb-3">
          <input type="select" class="form-control" id="select" autocomplete="off" placeholder="Pasatiempo favorito" >
        </div>
        <div class="mb-3 ">
          <input type="date" class="form-control" id="date" placeholder="Cumpleaños*">
        </div>
        <div class="mb-5">
          <input type="text" class="form-control" id="date" autocomplete="off" placeholder="Documento*" >
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button type="button" class="btn btn-primary">Continuar</button>
        </div>
      
      </form>
</div>