.box-upload-img {
    display: flex;
    //estilo
    background: #00693C;
    border-radius: 50px;
    width: 392px;
    height: 600px;
    left: 75px; 
}


.txtTitulo{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: #FFFFFF;
}

.box-img-s {
    width: 269px;
    height: 269px;
 
    background: #E7EFF5;
    border: 14px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50%;
}


.box-img-p {
    align-self: center;
}