.box-titulo{
    font-family: 'Poppins';
    font-style: normal;
}


.box-container {
    position: relative;
}

.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  