<app-navbar></app-navbar>

<div class="container">
    
    <div class="box-titulo2 mx-2">
        <h1>Hola configuremos tu perifl</h1>
        <p>Queremos conocerte mejor.</p>
    
    </div>
   
    <div class="box-container">
        <div class="row">
            <div class="col-md-6 mt-2">
                <app-card-perfil  [bandera]="stepTwo" (imgBanderallena)="setBanderaImg($event)"></app-card-perfil>
            </div>
            <div class="col-md-6">
                <app-form (stepOneNext)="stepOneNext($event)" [banderaImgFull]="banderaLlenaImg" *ngIf="stepOne"></app-form>
                
                <app-search-pokemon *ngIf="stepTwo"> </app-search-pokemon>
                 
            </div>
        </div>
    </div>

</div>