<div class="card box-upload-img">
    <h1 class="txtTitulo text-center mt-5 mb-5">{{titleCard}}</h1>

    <img [src]="srcImagenPerfil" class="img-fluid box-img-s box-img-p mb-5" alt="...">

    <div class="d-grid" *ngIf="!bandera">
        <input  type="file" #input  accept="image/*" (change)="previewImg(input)">
    </div>  

    
    <div class="container px-5" *ngIf="bandera">
        <div class="row">
            <div class="col-md-6">
                <h4><strong>Pasatiempo:</strong> </h4>
            </div>
            <div class="col-md-6 txtInfoUser">
                <h4 >{{infoUser.hobby}} </h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 ">
                <h4><strong>Edad:</strong> </h4>
            </div>
            <div class="col-md-6 txtInfoUser">
                <h4> {{edadUser}}</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 ">
                <h4><strong>DUI:</strong> </h4>
            </div>
            <div class="col-md-6 txtInfoUser">
                <h4>{{infoUser.doc}} </h4>
            </div>
        </div>
        

    </div>
   
    
</div>